# Binaries for programs and plugins

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
server/logs
server/static/www
# Dependency directories (remove the comment below to include it)
# vendor/
server/__debug_bin
server/sqlite.db
server/go-example
server/logs/*
server/go.sum