<ul nz-menu nzMode="inline" [nzInlineCollapsed]="menuService.isCollapsed">
  <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: { level: 1, menus: menus} }"></ng-container>
  <ng-template #menuTpl let-data>
    <ng-container *ngFor="let menu of data.menus;">
      <li *ngIf="menu.children == null || menu.children.length == 0" nz-menu-item [nzPaddingLeft]="menuService.isCollapsed ? 24 : data.level * 24"
        [routerLink]="menu.path" [queryParams]="menu.queryParams" nz-tooltip nzTooltipPlacement="right"
        [nzTooltipTitle]="menuService.isCollapsed && data.level === 1 ? menu.title : ''" [nzMatchRouter]="true"
        [nzDisabled]="menu.disabled" [nzSelected]="menu.selected">
        <i nz-icon [nzIconfont]="menu.icon" *ngIf="menu.icon"></i>
        <span>{{ menu.title }}</span>
      </li>
      <li *ngIf="menu.children && menu.children.length > 0" nz-submenu [nzPaddingLeft]="data.level * 24" nzMatchRouter="true" [nzOpen]="menu.opened"
        [nzDisabled]="menu.disabled">
        <span title class="title">
          <i nz-icon [nzIconfont]="menu.icon" *ngIf="menu.icon"></i>
          <span>{{ menu.title }}</span>
        </span>
        <ul>  
          <ng-container
            *ngTemplateOutlet="menuTpl; context: { $implicit: { level: data.level+1,menus: menu.children}  }">
          </ng-container>
        </ul>
      </li>
    </ng-container>
  </ng-template>
</ul>
