<ng-template hmi-properties tableName="属性" groupName="位置大小" [index]="1">
    <hmi-property-element key="Index" [multiple]="false" attributePath="rect/left" header="左侧间距" tooltip="小部件的X坐标值">
        <hmi-number-input-property [max]="10000" [min]="0" [precision]="0" [step]="1" [nullValue]="0" unit="px">
        </hmi-number-input-property>
    </hmi-property-element>
</ng-template>

<ng-template hmi-properties tableName="属性" groupName="位置大小" [index]="1">
    <hmi-property-element key="Index" [multiple]="false" attributePath="rect/top" header="顶侧间距" tooltip="小部件的Y坐标值">
        <hmi-number-input-property [max]="10000" [min]="0" [precision]="0" [step]="1" [nullValue]="0" unit="px">
        </hmi-number-input-property>
    </hmi-property-element>
</ng-template>


<ng-template hmi-properties tableName="属性" groupName="位置大小" [index]="1">
    <hmi-property-element key="Index" [multiple]="false" attributePath="rect/width" header="宽度" tooltip="小部件的宽度值">
        <hmi-number-input-property [max]="10000" [min]="0" [precision]="0" [step]="1" [nullValue]="0" unit="px">
        </hmi-number-input-property>
    </hmi-property-element>
</ng-template>

<ng-template hmi-properties tableName="属性" groupName="位置大小" [index]="1">
    <hmi-property-element key="Index" [multiple]="false" attributePath="rect/height" header="高度" tooltip="小部件的高度值">
        <hmi-number-input-property [max]="10000" [min]="0" [precision]="0" [step]="1" [nullValue]="0" unit="px">
        </hmi-number-input-property>
    </hmi-property-element>
</ng-template>


<ng-template hmi-properties tableName="属性" groupName="位置大小" [index]="1">
    <hmi-property-element key="Index" [multiple]="false" attributePath="style/rotate" header="旋转角度" tooltip="Z轴旋转角度">
        <hmi-number-input-property [max]="360" [min]="0" [precision]="0" [step]="1" [nullValue]="0" unit="°">
        </hmi-number-input-property>
    </hmi-property-element>
</ng-template>




<ng-template hmi-properties tableName="属性" groupName="基础属性" [index]="1">
    <hmi-property-element key="Index" [multiple]="false" attributePath="zIndex" header="层级索引"
        tooltip="决定小部件之间的层级，谁压住了谁">
        <hmi-number-input-property [max]="10000" [min]="0" [precision]="0" [step]="1" [nullValue]="0">
        </hmi-number-input-property>
    </hmi-property-element>
</ng-template>

<ng-template hmi-properties tableName="属性" groupName="基础属性">
    <hmi-property-element key="Name" [multiple]="false" attributePath="name" header="部件名称" tooltip="小部件的名称，用于识别">
        <hmi-text-input-property nullValue="">
        </hmi-text-input-property>
    </hmi-property-element>
</ng-template>

<ng-template hmi-properties tableName="属性" groupName="基础属性">
    <hmi-property-element key="Interval" [multiple]="true" attributePath="interval" header="刷新间隔" tooltip="数据刷新间隔">
        <hmi-number-input-property [max]="10000" [min]="0" [precision]="0" [step]="1" unit="秒" [nullValue]="0">
        </hmi-number-input-property>
    </hmi-property-element>
</ng-template>

<ng-template hmi-properties tableName="属性" groupName="其他">
    <hmi-property-element key="Locked" [multiple]="true" attributePath="locked" header="锁定移动" tooltip="被锁定的小部件将不能移动它">
        <hmi-switch-boolean-property checked="" unChecked="" [nullValue]="false" [diffValue]="true">
        </hmi-switch-boolean-property>
    </hmi-property-element>
</ng-template>

<ng-template hmi-properties tableName="属性" groupName="其他">
    <hmi-property-element key="Locked" [multiple]="true" attributePath="locked" header="锁定移动" tooltip="被锁定的小部件将不能移动它">
        <hmi-select-boolean-property [options]="[{ label: '是', value: true },{ label: '否', value: false }]"
            [nullValue]="false" [diffValue]="true">
        </hmi-select-boolean-property>
    </hmi-property-element>
</ng-template>



<ng-template hmi-properties tableName="样式" groupName="通用样式">
    <hmi-property-element key="style.bkColor" [multiple]="true" attributePath="style/bkColor" header="背景颜色"
        tooltip="字体颜色值">
        <hmi-select-color-property nullValue="transparent">
        </hmi-select-color-property>
    </hmi-property-element>
</ng-template>


<ng-template hmi-properties tableName="样式" groupName="通用样式">
    <hmi-property-element key="style.bkImage" [multiple]="true" attributePath="style/bkImage" header="背景图片"
        tooltip="字体颜色值">
        <hmi-image-select-property nullValue="">
        </hmi-image-select-property>
    </hmi-property-element>
</ng-template>


<ng-template hmi-properties tableName="样式" groupName="通用样式">
    <hmi-property-element key="style.bkSize" [multiple]="true" attributePath="style/bkSize" header="背景缩放"
        tooltip="背景图片的拉伸方式">
        <hmi-select-string-property [options]="[{ label: '拉伸', value: 'stretch' },{ label: '平铺', value: 'tile' }]"
            nullValue="stretch" diffValue="stretch">
        </hmi-select-string-property>
    </hmi-property-element>
</ng-template>





<ng-template hmi-properties tableName="样式" groupName="通用样式">
    <hmi-property-element key="style.border" [multiple]="false" attributePath="style/border" header="背景边框" tooltip="">
        <hmi-text-input-property nullValue="">
        </hmi-text-input-property>
    </hmi-property-element>
</ng-template>


<ng-template hmi-properties tableName="样式" groupName="通用样式">
    <hmi-property-element key="style.radius" [multiple]="false" attributePath="style/radius" header="边框圆角" tooltip="">
        <hmi-text-input-property nullValue="">
        </hmi-text-input-property>
    </hmi-property-element>
</ng-template>

<ng-template hmi-properties tableName="样式" groupName="通用样式">
    <hmi-property-element key="style.opacity" [multiple]="true" attributePath="style/opacity" header="透明度"
        tooltip="字体颜色值">
        <hmi-number-slider-property [max]="1" [min]="0" [step]="0.1" unit="单位" [nullValue]="1">
        </hmi-number-slider-property>
    </hmi-property-element>
</ng-template>

<ng-template hmi-properties tableName="样式" groupName="字体样式">
    <hmi-property-element key="style.color" [multiple]="true" attributePath="style/color" header="字体颜色" tooltip="字体颜色值">
        <hmi-select-color-property>
        </hmi-select-color-property>
    </hmi-property-element>
</ng-template>


<ng-template hmi-properties tableName="样式" groupName="字体样式">
    <hmi-property-element key="style.fontSize" [multiple]="true" attributePath="style/fontSize" header="字体大小"
        tooltip="默认文本字体大小">
        <hmi-number-input-property [max]="200" [min]="6" [precision]="0" [step]="1" unit="px" [nullValue]="14">
        </hmi-number-input-property>
    </hmi-property-element>
</ng-template>



<ng-template hmi-properties tableName="样式" groupName="字体样式">
    <hmi-property-element key="style.fontBold" [multiple]="true" attributePath="style/fontBold" header="显示粗体"
        tooltip="字体是否显示为粗体">
        <hmi-switch-boolean-property checked="" unChecked="" [nullValue]="false" [diffValue]="true">
        </hmi-switch-boolean-property>
    </hmi-property-element>
</ng-template>


<ng-template hmi-properties tableName="事件">
    <!-- <hmi-property-element > -->
    <hmi-event-property key="Events" [multiple]="false" attributePath="events" header="事件" tooltip="字体颜色值">
    </hmi-event-property>
    <!-- </hmi-property-element> -->
</ng-template>