# compiled output
/dist
# dependencies
/node_modules
# angular
/.angular
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
/docs
# System Files
.DS_Store
Thumbs.db
